/* reset */
*{ margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top;display: block; }
table { border-collapse:collapse; }
/*input,textarea { outline:none; }*/
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family: Arial,"微软雅黑";background: #0c0a0d; }
h1, h2, h3, h4, h5, h6{ font-size:100%; } 

/*首页*/
/*头部导航*/
#header{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	/*background: grey;*/
	overflow: hidden;
}
#header h2{
	height: 60px;
	width: 100px;
	text-indent: -10000px;
	background: url(../img/logo.png) no-repeat;
	float: left;
	margin-left: 100px;
}
#header nav{
	float: left;
	margin-left: 30px;
}
#header nav ul{
	overflow: hidden;
}
#header nav ul li{
	width: 70px;
	text-align: center;
	float: left;
}
#header nav ul li a{
	color: white;
	font-size: 18px;
}
#header nav ul li .active{
	color: #f4c45a;
}
#header nav ul li a:hover{
	color: #f4c45a;
}
#header nav ul li:nth-of-type(4) a{
	font-family: "微软雅黑";
}
#header .login{
	float: left;
	margin-left: 500px;
	cursor: pointer;
}
#header .login a{
	color: white;
}
#header .login a:hover{
	color: #f4c45a;
}
#header .reg{
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
#header .reg a{
	color: white;
}
#header .reg a:hover{
	color: #f4c45a;
}
#header  a.actives{
	color: #f4c45a;
}
#header .tuichu{
	display: none;
}
#header .tuichu a{
	color: white;
	margin-left: 6px;
}
#header .tuichu a:hover{
	color: #f4c45a;
}
/*注册*/
#reg, #login{
	width: 720px;
	height: 400px;
	margin: 50px auto;
	background: #201c1d;
	padding: 0 30px;
	box-sizing: border-box;
	text-align: center;
}
#reg h2, #login h2{
	color: #a29060;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	border-bottom: 1px solid #2c2b2b;
}
#formreg, #formlogin{
	margin-top: 40px;
}
#formreg .int, #formlogin .int{
	margin-bottom: 15px;
	position: relative;
}
#formreg .int label, #formlogin .int label{
	color: #a29060;
	font-size: 16px;
}
#formreg .int input, #formlogin .int input{
	width: 260px;
	height: 30px;
	background: #433f40;
	border: none;
	color: white;
	font-size: 16px;
	text-indent: 10px;
}
#formreg .int span, #formlogin .int span{
	position: absolute;
	top: 6px;
	left: 508px;
}
#formreg .int .info, #formlogin .int .info{
	color: red;
	font-size: 12px;
	display: none;
}
#formreg .int .success, #formlogin .int .success{
	width: 18px;
	height: 18px;
	background: url(../img/success.png) no-repeat center center;
	padding-left: 18px;
	box-sizing: border-box;
	display: none;
}
#formreg .int .all_email{
	position: absolute;
	left: 242px;
	top: 31px;
	width: 200px;
	background: #433f40;
	display: none;
}
#formreg .int .all_email li{
	height: 20px;
	line-height: 20px;
    color: white;
    cursor: pointer;
    text-align: left;
    margin-left: 5px;
}
#formreg .int .all_email li:hover{
	background: gray;
}
#regbtn{
	/*margin-top: 10px;*/
	margin-left: 24px;
	border: none;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #a29060;
	color: white;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}
#regbtn:hover{
	opacity: 0.95;
}
#loading {
position:absolute;
width:200px;
height:40px;
background:url(../img/login_header.png);
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
display:none;
z-index:10000;
}
#loading p {
height:40px;
line-height:40px;
background:url(../img/loading3.gif) no-repeat 20px center;
text-indent:50px;
font-size:14px;
font-weight:bold;
color:#666;
}
#success {
position:absolute;
width:200px;
height:40px;
background:url(../img/login_header.png);
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
display:none;
z-index:10000;
}
#success p {
height:40px;
line-height:40px;
background:url(../img/success.gif) no-repeat 20px center;
text-indent:50px;
font-size:14px;
font-weight:bold;
color:#666;
}
/*登入*/
#login{
	position: relative;
	height: 350px;
	width: 570px;
}
#login .reBox{
	margin-top: 34px;
	text-align: left;
	margin-left: 380px;
}
#login .reBox a{
	color: white;
	margin-right: 5px;
	
}
#login .reBox a:hover{
	color: #f4c45a;
}
#login .loginInfo{
	color: red;
	position: absolute;
	top: 94px;
	left: 266px;
	display: none;
}
#login .expiresBox{
	text-align: left;
	margin-bottom: 15px;
}
#login .expiresBox label{
	color: #a29060;
	position: relative;
	top: -2px;
	left: 4px;
}
#expires{
	margin-left: 168px;
}
/*banner*/
#banner{
	width: 1200px;
	height: 500px;
	overflow: hidden;
	line-height: 0;
	margin: 10px auto;
	position: relative;
	cursor: pointer;
}
#banner .piclist{
	width: 2400px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#banner .piclist img{
	width: 1200px;
	height: 500px;
	float: left;
	display: block;
	line-height: 0;
}
#banner .picBtn{
	position: absolute;
	bottom: 20px;
	left: 45%;
	color: white;
}
#banner .picBtn span{
	font-size: 40px;
	cursor: pointer;
	opacity: 0.7;
}
#banner .picBtn span:hover{
}
/*最新动态*/
#dongtai{
	width: 1200px;
	height: 380px;
	margin: 50px auto;
	background: #110f12;
	padding: 40px 90px;
	box-sizing: border-box;
	color: #333332;
}
#dongtai .tabBox{
	width: 700px;
	height: 300px;
	float: left;
	background: #d9d9d9;
	box-shadow:inset 2px 2px 5px 3px rgba(125,122,122,1);
	border-radius: 15px;
	padding: 10px 30px;
	box-sizing: border-box;
}
#dongtai .tabBox .tablist{
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #a6a6a6;
	box-shadow:0 1px 0px 0px rgba(255,255,255,1);
	overflow: hidden;
}
#dongtai .tabBox .tablist li{
	float: left;
	width: 130px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
#dongtai .tabBox .tablist li:hover{
	color: #e15c03;
}
#dongtai .tabBox .tablist li.tabActive{
	color: #e15c03;
}
#dongtai .tabBox .divBox{
	display: none;
}
#dongtai .tabBox .divBox ul{
	width: 640px;
}
#dongtai .tabBox .divBox ul li{
	width: 610px;
	height: 47px;
	line-height: 47px;
	padding-left: 22px;
	border-bottom: 1px dashed #a6a6a6;
	overflow: hidden;
}
#dongtai .tabBox .divBox ul li a{
	float: left;
	display: block;
	color: #333332;
	font-size: 16px;
	width: 420px;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
}
#dongtai .tabBox .divBox ul li a:hover{
	color: #e15c03;
}
#dongtai .tabBox .divBox ul li span{
	float: right;
	font-size: 14px;
	font-family: "微软雅黑";
}
#dongtai .tabBox .divBox ul li:nth-of-type(5){
	width: 640px;
	padding-left:270px ;
	box-sizing: border-box;
}

#dongtai .tabBox .show{
	display: block;
}
#dongtai .tuijian{
	width: 280px;
	height: 300px;
	float: left;
	margin-left: 40px;
	background: #d9d9d9;
	box-shadow:inset -2px -2px 5px 3px rgba(125,122,122,1);
	border-radius: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}
#dongtai .tuijian .biaoti{
	height: 48px;
	width: 260px;
	line-height: 48px;
	overflow: hidden;
	border-bottom: 1px solid #a6a6a6;
	box-shadow:0 1px 0px 0px rgba(255,255,255,1);
}
#dongtai .tuijian .biaoti h2{
	float: left;
	font-size: 18px;
	font-weight: bold;
}
#dongtai .tuijian .biaoti a{
	float: right;
	color: #333332;
	font-size: 16px;
}
#dongtai .tuijian .biaoti a:hover{
	color: #e15c03;
}
#dongtai .tuijian ul{
	width: 260px;
}
#dongtai .tuijian ul li{
	width: 250px;
	height: 47px;
	line-height: 47px;
	margin-left: 10px;
	border-bottom: 1px dashed #a6a6a6;
}
#dongtai .tuijian ul li a{
	display: block;
	color: #333332;
	font-size: 16px;
	width: 230px;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
}
#dongtai .tuijian ul li a:hover{
	color: #e15c03;
}
#dongtai .newmusic{
	position: relative;
	overflow: hidden;
}
#dongtai .newmusic video{
}
#dongtai .newmusic .jianjie{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 218px;
	padding: 4px 0 0 20px;
	box-sizing: border-box;
}
#dongtai .newmusic .jianjie h2{
	margin-top: 10px;
}
#dongtai .newmusic .jianjie .text{
	margin-top: 5px;
	width: 180px;
	word-wrap: break-word;  
    word-break: normal;
    font-size: 14px;  
}

/*精彩瞬间*/
#videoShow{
	background: #110f12;
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	height: 420px;
}
#videoShow h2{
	font-size: 30px;
	margin-left: 85px;
	color: #f4c45a;
}
/* Custom Flipster Styles */
.flipster {
  padding-bottom: 50px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}


/*video*/
#shoupingBox{
	width: 1050px;
	height: 440px;
	margin: 10px auto;
	background: gray;
	overflow: hidden;
	margin-bottom: 30px;
}
#shoupingBox .boxLeft{
	float: left;
	width: 780px;
	height: 440px;
	background: lightgray;
}
#shoupingBox .boxRight{
	float: right;
	width: 240px;
	height: 440px;
	background: #7A0715;
}
/*MV*/
.videoBox{
	width: 1050px;
	margin: 0px auto;
	overflow: hidden;
}
.videoBox h2{
	font-size: 30px;
	color: #f4c45a;
	margin-bottom: 10px;
}
.videoBox ul{
	width: 1050px;
	overflow: hidden;
}
.videoBox ul li{
	float: left;
	width: 240px;
	height: 190px;
	background: #2c2d30;
	margin: 0px 30px 30px 0;
}
.videoBox ul li:nth-of-type(4){
	margin-right: 0;
}
/*关于*/
#about{
	width: 900px;
	overflow: hidden;
	margin: 10px auto;
	background: #201c1d;
	padding: 60px;
	box-sizing: border-box;
}
#about h2{
	font-size: 30px;
	color: #baa76c;
	margin-bottom: 40px;
}
#about h3{
	font-size: 20px;
	color: #baa76c;
	margin-bottom: 20px;
}
#about p{
	font-size: 14px;
	color: #7D7A7A;
	line-height: 22px;
	text-indent: 28px;
	margin-bottom: 10px;
}
#about .geren{
	margin-left: 30px;
	color: wheat;
	font-weight: bold;
	font-size: 14px;
}

/*发帖*/
#fatieBox{
	margin: 20px auto;
	background: white;
	width: 600px;
	overflow: hidden;
	padding: 20px;
	box-sizing: border-box;
}
#fatieBox .question{
	width: 330px;
	height: 28px;
	background: url(../img/text.png) no-repeat center center;
}
#editor {
    width: 560px;
    margin: auto;
    text-align: left;
    
}
#fatieBtn{
	margin-top: 10px;
	margin-left: 450px;
	width: 100px;
	height: 30px;
	background: #dd331b;
	border: 1px solid #dd331b;
	font-size: 14px;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
#fatieBtn:hover{
	opacity: 0.8;
	filter:alpha(opacity=80)
}
.froala-editor{
	border: solid 1px #dd331b;
    border-top: solid 3px #dd331b;
}
#edit{
	border: solid 1px #dd331b;
}
.froala-element.f-basic {
    border: solid 1px #dd331b;
}
#contentBox{
	margin: 0px auto;
	width: 600px;
	overflow: hidden;
}
#contentBox ul li{
	
	width: 600px;
	background: white;
	margin-bottom: 20px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
}
#contentBox ul li .usertime{
	overflow: hidden;
}
#contentBox ul li .usertime .user{
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
}
#contentBox ul li .usertime .time{
	display: block;
	float: right;
	font-size: 14px;
}
#contentBox ul li .content{
	margin: 10px 0px;
}
#contentBox ul li .bottomBox{
	overflow: hidden;
	height: 30px;
	line-height: 30px;
}
#contentBox ul li .bottomBox span{
	float: right;
	width: 60px;
	text-align: center;
}
