/* reset */
*{ margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top;display: block; }
table { border-collapse:collapse; }
/*input,textarea { outline:none; }*/
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family: Arial,"微软雅黑";background: #0c0a0d; }
h1, h2, h3, h4, h5, h6{ font-size:100%; } 

/*首页*/
/*头部导航*/
#header{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	/*background: grey;*/
	overflow: hidden;
}
#header h2{
	height: 60px;
	width: 100px;
	text-indent: -10000px;
	background: url(../img/logo.png) no-repeat;
	float: left;
	margin-left: 100px;
}
#header nav{
	float: left;
	margin-left: 30px;
}
#header nav ul{
	overflow: hidden;
}
#header nav ul li{
	width: 70px;
	text-align: center;
	float: left;
}
#header nav ul li a{
	color: white;
	font-size: 18px;
}
#header nav ul li .active{
	color: #f4c45a;
}
#header nav ul li a:hover{
	color: #f4c45a;
}
#header nav ul li:nth-of-type(4) a{
	font-family: "微软雅黑";
}
#header .login{
	float: left;
	margin-left: 600px;
	cursor: pointer;
}
#header .login a{
	color: white;
}
#header .login a:hover{
	color: #f4c45a;
}
#header .reg{
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
#header .reg a{
	color: white;
}
#header .reg a:hover{
	color: #f4c45a;
}
/*注册*/
#reg{
	width: 720px;
	height: 400px;
	margin: 50px auto;
	background: #201c1d;
	padding: 0 30px;
	box-sizing: border-box;
	text-align: center;
}
#reg h2{
	color: #a29060;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	border-bottom: 1px solid #2c2b2b;
}
#form{
	margin-top: 40px;
}
#form .int{
	margin-bottom: 15px;
	position: relative;
}
#form .int label{
	color: #a29060;
	font-size: 16px;
}
#form .int input{
	width: 260px;
	height: 30px;
	background: #433f40;
	border: none;
	color: white;
	font-size: 16px;
	text-indent: 10px;
}
#form .int span{
	position: absolute;
	top: 6px;
	left: 508px;
}
#form .int .info{
	color: red;
	font-size: 12px;
	display: none;
}
#form .int .success{
	width: 18px;
	height: 18px;
	background: url(../img/success.png) no-repeat center center;
	padding-left: 18px;
	box-sizing: border-box;
	display: none;
}
#form .int .all_email{
	position: absolute;
	left: 242px;
	top: 31px;
	width: 200px;
	background: #433f40;
	display: none;
}
#form .int .all_email li{
	height: 20px;
	line-height: 20px;
    color: white;
    cursor: pointer;
    text-align: left;
    margin-left: 5px;
}
#form .int .all_email li:hover{
	background: gray;
}
#regbtn{
	/*margin-top: 10px;*/
	margin-left: 24px;
	border: none;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #a29060;
	color: white;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}

/*banner*/
#banner{
	width: 1200px;
	height: 500px;
	overflow: hidden;
	line-height: 0;
	margin: 0px auto;
	position: relative;
	cursor: pointer;
}
#banner .piclist{
	width: 2400px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#banner .piclist img{
	width: 1200px;
	height: 500px;
	float: left;
	display: block;
	line-height: 0;
}
#banner .picBtn{
	position: absolute;
	bottom: 20px;
	left: 45%;
	color: white;
}
#banner .picBtn span{
	font-size: 40px;
	cursor: pointer;
	opacity: 0.7;
}
#banner .picBtn span:hover{
}
/*最新动态*/
#dongtai{
	width: 1200px;
	height: 380px;
	margin: 50px auto;
	background: #110f12;
	padding: 40px 90px;
	box-sizing: border-box;
	color: #333332;
}
#dongtai .tabBox{
	width: 700px;
	height: 300px;
	float: left;
	background: #d9d9d9;
	box-shadow:inset 2px 2px 5px 3px rgba(125,122,122,1);
	border-radius: 15px;
	padding: 10px 30px;
	box-sizing: border-box;
}
#dongtai .tabBox .tablist{
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #a6a6a6;
	box-shadow:0 1px 0px 0px rgba(255,255,255,1);
	overflow: hidden;
}
#dongtai .tabBox .tablist li{
	float: left;
	width: 130px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
#dongtai .tabBox .tablist li:hover{
	color: #e15c03;
}
#dongtai .tabBox .tablist li.tabActive{
	color: #e15c03;
}
#dongtai .tabBox .divBox{
	display: none;
}
#dongtai .tabBox .divBox ul{
	width: 640px;
}
#dongtai .tabBox .divBox ul li{
	width: 610px;
	height: 47px;
	line-height: 47px;
	padding-left: 22px;
	border-bottom: 1px dashed #a6a6a6;
	overflow: hidden;
}
#dongtai .tabBox .divBox ul li a{
	float: left;
	display: block;
	color: #333332;
	font-size: 16px;
	width: 420px;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
}
#dongtai .tabBox .divBox ul li a:hover{
	color: #e15c03;
}
#dongtai .tabBox .divBox ul li span{
	float: right;
	font-size: 14px;
	font-family: "微软雅黑";
}
#dongtai .tabBox .divBox ul li:nth-of-type(5){
	width: 640px;
	padding-left:270px ;
	box-sizing: border-box;
}

#dongtai .tabBox .show{
	display: block;
}
#dongtai .tuijian{
	width: 280px;
	height: 300px;
	float: left;
	margin-left: 40px;
	background: #d9d9d9;
	box-shadow:inset -2px -2px 5px 3px rgba(125,122,122,1);
	border-radius: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}
#dongtai .tuijian .biaoti{
	height: 48px;
	width: 260px;
	line-height: 48px;
	overflow: hidden;
	border-bottom: 1px solid #a6a6a6;
	box-shadow:0 1px 0px 0px rgba(255,255,255,1);
}
#dongtai .tuijian .biaoti h2{
	float: left;
	font-size: 18px;
	font-weight: bold;
}
#dongtai .tuijian .biaoti a{
	float: right;
	color: #333332;
	font-size: 16px;
}
#dongtai .tuijian .biaoti a:hover{
	color: #e15c03;
}
#dongtai .tuijian ul{
	width: 260px;
}
#dongtai .tuijian ul li{
	width: 250px;
	height: 47px;
	line-height: 47px;
	margin-left: 10px;
	border-bottom: 1px dashed #a6a6a6;
}
#dongtai .tuijian ul li a{
	display: block;
	color: #333332;
	font-size: 16px;
	width: 230px;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
}
#dongtai .tuijian ul li a:hover{
	color: #e15c03;
}
#dongtai .newmusic{
	position: relative;
	overflow: hidden;
}
#dongtai .newmusic video{
}
#dongtai .newmusic .jianjie{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 218px;
	padding: 4px 0 0 20px;
	box-sizing: border-box;
}
#dongtai .newmusic .jianjie h2{
	margin-top: 10px;
}
#dongtai .newmusic .jianjie .text{
	margin-top: 5px;
	width: 180px;
	word-wrap: break-word;  
    word-break: normal;
    font-size: 14px;  
}

/*精彩瞬间*/
#videoShow{
	background: #110f12;
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	height: 420px;
}
#videoShow h2{
	font-size: 30px;
	margin-left: 85px;
	color: #f4c45a;
}
/* Custom Flipster Styles */
.flipster {
  padding-bottom: 50px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}